body
{
	background-color: #E7E7E7;
	margin: 0;
	padding: 0;
	text-align: center;
}
ul li
{
	width: 150px;
	display: none;
	background-color: white;
	padding: 10px 20px 10px 20px;
	border: 2px solid black;
	margin-top: -2px;
}
ul:hover li
{
	display: block;
}
ul li:first-child
{
	display: block;
}
ul
{
	display: inline-block;
	padding: 0;
	margin-top: 50px;
	position: absolute;
	list-style-type: none;
}
div
{
	position: relative;
	margin: 0 auto;
	width: 400px;
	height: 1px
}